<div class="poke-parrains d-flex flex-column align-items-center h-100 w-100 gap-2 p-3">
    <h1 class="align-self-start">PokéParrains</h1>

    <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
        <app-loader [trigger]="loader"></app-loader>

        @if (isOpened) {
            <div class="poke-parrains__cards d-flex justify-content-center flex-wrap gap-3">
                @for (card of cards; track card.id) {
                    <app-card [src]="card.number+'.png'"></app-card>
                }
            </div>
        } @else {
            <div class="d-flex align-items-center">
                <app-pack src="pack.png" (packOpenedEvent)="packOpened()"></app-pack>
            </div>
        }
    </div>
</div>