:host {
    flex: 1;
}

.poke-parrains {
    position: relative;
    overflow-y: hidden;
    background-color: #87cfff;

    &__cards {
        opacity: 0;
        animation: fade-in 1s forwards;
        animation-delay: 2s;
    }
}
