.pack {
    cursor: pointer;
    filter: drop-shadow(0px 0px 80px rgba(255, 162, 0, 0.93));

    img:hover {
        animation: pulsate 2s ease-out;
        animation-iteration-count: infinite;
    }
}

.fade-out {
    animation: fade-out 1s forwards, shake 0.4s cubic-bezier(.36, .07, .19, .97) both;
    cursor: default;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.95);
        opacity: 0.9;
        filter: drop-shadow(0px 0px 70px rgba(255, 11, 11, 0.781));
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, -5px, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, -1px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 3px, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 2px, 0);
    }
}
